@import "../../../css-config/mixins.scss";
.gradient {
  background: linear-gradient(to right, #872ce1, #3f18d5);
  // #7d2ad0,
}
.Banner-img {
  width: 80%;
  @include md {
    width: 70%;
  }
}
.Banner-heading {
  font-size: 80px;
  font-weight: bolder;

  @include md {
    font-size: 140px;
  }
}

.Holo-Button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  color: black;
  //   font-weight: bold;
  transition: 0.4s;
  color: white;
  display: inline-block;
}
.Holo-Button:hover {
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  color: white;
  transition: 0.4s;
}
.Filled-Button {
  background-color: black;
  border: 2px solid rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.4s;
  color: white;
}
.Filled-Button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 0.4s;
}
.left {
  order: 2;
}
.text-align {
  text-align: center;
  @include md {
    text-align: left;
  }
}
.right {
  order: 1;
}

@include md {
  .left {
    order: 1;
  }

  .right {
    order: 2;
  }
}

.scroll-top {
  height: 50px;
  width: 50px;
  background: linear-gradient(to right, #872ce1, #3f18d5);
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
  // transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  scroll-behavior: smooth;
  @include sm {
    bottom: 40px;
    right: 40px;
  }
}

.scroll-top svg {
  width: 50%;
  color: #ffffff;
  pointer-events: none;
}
