@import "../../css-config/mixins.scss";
.product {
  display: flex;
  align-items: center;
}
.quantity-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.259);
}

.quantity-controls {
  display: flex;
  align-items: center;
  // margin-right: 16px;
}

.quantity-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 7px;

  @include md {
    padding: 9px;
  }
}
.minus {
  border-right: 1px solid rgba(0, 0, 0, 0.259);
}
.plus {
  border-left: 1px solid rgba(0, 0, 0, 0.259);
}

.quantity {
  font-size: 18px;
  font-weight: bold;
  margin: 0 12px;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
}

.social-links {
  display: flex;
}
.social-links a {
  font-size: 16px;
}

.Singleproduct-image {
  background-color: #eff4ee;

  position: relative;
  width: 100%;
  @include md {
    width: 80%;
  }
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Filled-Category-Button {
  background-color: #872ce1;
  color: white;
  cursor: pointer;
  padding: 0px 15px;
  display: inline-block;
  transition: 0.4s;
  border: none;
}

.Filled-Category-Button:hover {
  background-color: #6d1fbb;
  color: white;
  transition: 0.4s;
  border: none;
}
